/*-- scss:defaults --*/

//Colors
$darkblue: #064273;
$teal: #76b6c4;
$lightblue: #7fcdff;
$mediumblue: #1da2d8;
$lightgreen: #829b4d;
$pink: #f47685;
$cream: #def3f6;
$gray: #333333;

//Base document colors
$navbar-bg: $teal;
$navbar-hl: $darkblue;
$body-bg: $cream;